body{
    background-color: black;
    margin: 0;
}
.top-div{
    display: flex;
    flex-direction: column;
}
.head-div1{
    margin-top: 80px;
    margin-left: 40px;
    width: 55%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: aliceblue;
    border-width: 1px;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
.head-txt{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 0;
}
.head-txt2{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 0;
}
.img1{
    width: 30%;
}
.home-div1{
    border: solid;
    border-color: aliceblue;
    border-width: 1px;
    width: 80%;
    margin-top: 110px;
    margin-left: 40px;
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.text-2{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.home-div2{
    border: solid;
    border-color: aliceblue;
    border-width: 1px;
    margin-left: 40px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
}
.text-3head{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 60px;
}
.text-3{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.home-div3{
    border: solid;
    border-color: aliceblue;
    border-width: 1px;
    margin-left: 40px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
}
.text-4{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 40px;
}
.home-div4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.img2{
    width: 300px;
}
